//====================================================================================================
.hello {
	background-color: #f1f1f1;
	&__body {
		display: flex;
		@include adaptiv-value("padding-top", 310, 120, 0);
		@include adaptiv-value("padding-bottom", 220, 80, 0);
		@include adaptiv-value("min-height", 770, 335, 1);
		@media (min-width: $md3+px) {
			background: url("../img/hello/hello-bg.png") 100% bottom no-repeat;
			background-size: 505px/1200px * 100%;
		}
	}
	&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		@media (min-width: $md3+px) {
			text-align: left;
			flex: 0 1 550px/1200px * 100%;
		}
		*:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		@include adaptiv-value("font-size", 44, 28, 1);
		line-height: 62 / 44 * 100%;
		font-weight: 600;
		margin: 0px 0px 15px/44px * 1em 0px;
	}
	&__text {
		font-family: "Open Sans";
		line-height: 28 / 14 * 100%;
		color: $grayColor;
		margin: 0px 0px 1em 0px;
		letter-spacing: 0.9px;
	}
}
//============================================================================
.services {
	&__body {
		display: grid;
		@include adaptiv-value("gap", 75, 40, 1);
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}
.item-services {
	display: flex;
	flex-direction: column;
	&__body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		*:last-child {
			margin-bottom: 0;
		}
	}
	&__image {
		margin: 0px 0px 20px 0px;
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 30 / 24 * 100%;
		margin: 0px 0px 10px/24px * 1em 0px;
		text-transform: uppercase;
	}
	&__text {
		color: $dkGrayColor;
		line-height: 26 / 14 * 100%;
		margin: 0px 0px 26px/14px * 1em 0px;
		flex: 1 1 auto;
	}
	&__button {
		margin: 0px 0px 20px 0px;
	}
}
//============================================================================
.skills {
	background-color: #f7f7f7;
	&__body {
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
		}
	}
	&__content {
		flex: 1 1 auto;
		@include adaptiv-value("padding-right", 90, 0, 1);
		@media (max-width: $md2+px) {
			padding-right: 0;
			margin: 0px 0px 40px 0px;
		}
	}
	&__title {
		@include adaptiv-value("font-size", 36, 24, 1);
		line-height: 50 / 36 * 100%;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		margin: 0px 0px 40px/36px * 1em 0px;
		span {
			color: $primaryColor;
		}
	}
	&__items {
		padding: 0px 0px 0px 60px;
	}
	&__gallery {
		flex: 0 0 644px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-wrap: wrap;
		position: relative;
		@media (max-width: $md2+px) {
			justify-content: flex-start;
			flex-wrap: nowrap;
			overflow: auto;
		}
	}
	&__image {
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0px 3px 20px 0px rgba(57, 64, 96, 0.05);
		transition: box-shadow 0.3s ease 0s;
		img {
			transition: transform 0.3s ease 0s;
		}
		@media (min-width: $md2+px) {
			flex: 0 0 205px;
			padding: 0px 0px 239px 0px;
			margin: 120px 0px 0px 0px;
			&:first-child {
				flex: 0 0 417px;
				padding: 0px 0px 619px 0px;
				margin: 0px 22px 0px 0px;
			}
			&:last-child {
				position: absolute;
				width: 240px;
				bottom: -38px;
				right: 65px;
				flex: 0 0 240px;
				padding: 0px 0px 275px 0px;
			}
		}
		@media (max-width: $md2+px) {
			flex: 0 0 70%;
			padding: 0px 0px 100% 0px;
			&:not(:last-child) {
				margin: 0px 15px 0px 0px;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.015);
				}
				box-shadow: 0px 3px 20px 0px rgba(57, 64, 96, 0.25);
			}
		}
	}
}
.item-skills {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 37px;
		height: 4px;
		top: 12px;
		left: -60px;
		background-color: $mainColor;
	}
	&:not(:last-child) {
		margin: 0px 0px 25px 0px;
	}
	&__title {
		font-size: 18px;
		line-height: 28 / 18 * 100%;
		font-family: "Open Sans";
		font-weight: 700;
		margin: 0px 0px 10px/18px * 1em 0px;
	}
	&__text {
		font-size: 14px;
		line-height: 28 / 14 * 100%;
		color: #666;
	}
}
//============================================================================
//====================================================================================================
